*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw    ;
    background-image: url("All Images/6eb8b1486cda0dc2e766c7b6b872516657fc3d55.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nevBar{
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nevContent{
    height: 30px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 500px;
}
a{
    text-decoration: none;  
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
#a_service{
    color: #E9BD8C;
}
 .logo{
    height: 150px;
    width: 150px;
    background-image: url("All Images/5e29c2fb93928edaef7353380f2d303925555510.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: 50px;
}
.slogan{
    height: 500px;
    width: 500px;
    margin-top: 80px ;
    margin-left: auto;
    margin-right: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#de{
    color: #E9BD8C;
    font-size: 2em;
    font-family: impact;
    padding-left: auto ;
    padding-right: 310px ;
}
#sw{
    color: white;
    font-family: "Brush Script MT", "Lucida Handwriting", "Segoe Script", "Comic Sans MS", cursive;
    font-size: 8em;
}
#shop{
    height: 50px;
    width: 170px;
    background-color: #933C24;
    margin-top: 80px ;
    border-radius: 8px;
    border: 1px solid black;

    
}
#learn{
    color: #E9BD8C;
    margin-left: 20px ;
}
.top-product{
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top{
    color: black;
    font-size: 5em;
    margin-top: auto ;
    margin-bottom: 50px ;
    font-family: "Brush Script MT", "Lucida Handwriting", "Segoe Script", "Comic Sans MS", cursive;
}
.content{
    height: 800px;
    width: 1200px;
    margin-left: 150px;
}
#row{
    height:400px;
    width: 1200px;
    display: flex;
    flex-direction: row;
}
.childContent{
    height: 360px;
    width: 360px;
    background-image: url("All Images/1a8aefcee7dc162f158ab2c4936fcf8ea45adc1f.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    margin: 30px;
    border-radius: 10px;
}
.childContent_2{
    height: 360px;
    width: 360px;
    background-image: url("All Images/1a8aefcee7dc162f158ab2c4936fcf8ea45adc1f.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    margin-top: 30px ;
    margin: 30px;
    border-radius: 10px;
}
.item_img{
    height: 200px;
    width: 200px;
    margin-left: 70px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#i1{
    background-image: url("All Images/1e9e64552bf7b232daa4125196fdbb1c5fc17a65.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#i2{
    background-image: url("All Images/97e59e01c887ac6803df18e7b2cb507b8a25fee1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#i3{
    background-image: url("All Images/2338d12e053467216c27e979b91b886dee8d5050.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16em;
}
#i4{
    background-image: url("All Images/a7f75c2826118e54873f1ef99bf0ba6b11888d29.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15em;
}
#i5{
    background-image: url("All Images/cd8c4236c3daaa4b21917d202d2755e0c2585a9e.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#i6{
    background-image: url("All Images/9bc567a1cfb4efca5891740762e628f4099acf18.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.detail{
    height: 150px;
    width: 300px;
    margin-left: 20px;
}
.GrandChild_content_2{
    height: 150px;
    width: 300px;
    margin-left: 20px;
}
#price_info{
    height: 30px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.3em;
}
#name_add{
    height: 70px;
    width: 300px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
#name_add p{
    font-size: 1.2em;
}
#name_add button{
    height: 40px;
    width: 60px;
    border-radius: 3px;
    color: white;
    background-color: #933C24;
    font-size: 1.3em;
}
.offers{
    height: 500px;
    width: 100vw;
    padding-top: 125px;
}
#offer_banner{
    height: 400px;
    width: 100vw;
    background-image: url("All Images/40483f228f559f53b01a360fa529321393f3fd73.png");
    background-size: 1600px 400px ;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
#offer_list{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#offer_head{
    font-family: "Brush Script MT", "Lucida Handwriting", "Segoe Script", "Comic Sans MS", cursive;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:30px ;
    color: #933C24;
}
#offer_detail{
    font-family: 'Lobster', cursive;
    font-size: 1.3em;
    display: flex;
    align-items:center;
    justify-content:center;
    padding-top: 30px ;
    margin-bottom: 50px ;
    color: #5D5D5D;
}
#offer_list button{
    height: 60px;
    width: 160px;
    border-radius: 4px;
    font-size: 1.2em;
    color: white;
    background-color: #933C24;
}
/* This is explore items list section */
.explor_more_parent{
    height: 200px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.explor_more_child{
    height: 100px;
    width: 300px;
    font-family: "Brush Script MT", "Lucida Handwriting", "Segoe Script", "Comic Sans MS", cursive;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111111;
}
.item_list{
    height: 200px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.product p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5D5D5D;
    height: 35px;
}
.product:hover{
    height: 35px;
    border-bottom: 2px solid black;
}
.product_main{
    height: 750px;
    width: 1000px;
    margin-top: 20px;
    margin-left: 250px ;
}
.product_child_1{
    height: 350px;
    width: 1000px;
    display: flex;
    flex-direction: row;
}
.product_child_2{
    height: 350px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.product_list{
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
}   
#l1{
    background-image: url("All Images/b84a88b6c207d3d302cd250030cab2c18a6c4704.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#l2{
    background-image: url("All Images/f377b12e77a675f1963f86b9fe34d1b41c47189c.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#l3{
    background-image: url("All Images/0e6302d7cc4ca3661ca690661d277e80b00e528d.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#l4{
    background-image: url("All Images/85af8d8c88c004c1ba511939337df5bdbe18a75f.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#l5{
    background-image: url("All Images/5b5b4d5bcb1ea430dda4fb6df10b6afe11348ab4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#l6{
    background-image: url("All Images/7c449960a1a3de044a8efd658a3902398d42949d.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.about_us{
    height: 400px;
    width: 100vw;
    background-image: url("All Images/680114d925b6e6f47bf7aeab7dbae21f97791d67.png");
    background-size: 100vw  400px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#us{
    height: 50px;
    width: 200px;
    font-size: 3em;
    font-family: "Brush Script MT", "Lucida Handwriting", "Segoe Script", "Comic Sans MS", cursive;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#us_detail{
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #B9B9B9;
}
#us_detail button{
    height: 60px;
    width: 150px;
    font-size: 1.3em;
    border-radius: 4px;
    background-color: #933C24;
    color: #F5F5F5;
    margin-top: 30px;
}
